@{
    ViewData["Title"] = "Login Page";
}

<div>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <img src="~/images/schoollogo.jpg" height="72" class="me-3" />
            <span class="navbar-brand">Huamin Primary School</span>
            <ul class="navbar-nav me-auto">
                </ul>

        </div>
    </nav>
</div>