@{
    ViewData["Title"] = "Login Page";
}

<div>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <img src="~/images/schoollogo.jpg" height="72" class="me-3" />
            <span class="navbar-brand">Service Desk Ticketing System</span>
            <ul class="navbar-nav me-auto">
        </div>

    </nav>
    @*Button below (hamburger menu) appears when viewport too small.*@
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>


</div>