@{
    ViewData["Title"] = "Account Activation for New Staff";
}
<!-- IT Service/Support Request Session Section -->

<div class="container mt-5">
    <div class="text-center mb-4">
        <h3>IT Service/Support Request Session</h3>
    </div>
    
    <div class="text-center mb-4">
        <h4>Account Activation for New Staff</h4>
    </div>
    <form>
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name:</label>
            <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Type here...">
        </div>
        <div class="mb-3">
            <label for="nric" class="form-label">NRIC:</label>
            <input type="text" id="nric" name="nric" class="form-control" placeholder="Type here...">
        </div>
        <div class="mb-3">
            <label for="employmentType" class="form-label">Employment Type:</label>
            <select id="employmentType" name="employmentType" class="form-select">
                <option value="">Select</option>
                <option value="">EO</option>
                <option value="">EAS</option>
                <option value="">RT</option>
                <option value="">CAJT</option>
                <option value="">FAJT</option>
                <option value="">SL</option>
                <option value="">MK</option>
                <option value="">Support</option>

                
            </select>
        </div>
        <div class="mb-3">
            <label for="appRequired" class="form-label">App Required:</label>
            <select id="appRequired" name="appRequired" class="form-select">
                <option value="">Select</option>
                <option value="">CES</option>
                <option value="">ICON</option>
                <option value="">VPN</option>
                <option value="">SLS</option>
                <option value="">ScMobile</option>
                <option value="">RBS</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date:</label>
            <input type="date" id="startDate" name="startDate" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
    <div class="text-center mt-4">
        <a href="@Url.Action("Index", "Home")" style="display: inline-block; margin-top: 20px;">Back to Create Ticket</a>
    </div>
</div>
