@{
    ViewData["Title"] = "Index";
}
<!--<a asp-controller="Home" asp-action="Index">Home</a>-->
<div class="text-center">
    <img src="~/images/login.png" height="120" class="me-3" />
    <h2>Welcome to Service Ticketing System</h2>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

