@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <img src="~/images/login.png" height="120" class="me-3" />
    <h2>Welcome to Service Ticketing System!</h2>
    <div class="container mt-5">
        <div class="header text-center mb-4">
            <h6>WHICH CATEGORY DOES YOUR ISSUE FALL UNDER?</h6>
        </div>
        <form method="post" asp-action="SubmitCategory">
            <div class="mb-1">
                <label for="category" class="form-label">Select category</label>
                <select id="category" name="category" class="form-select">
                    <option value="">Select category</option>
                    <option value="category1">Fault Reporting - Classroom/Cart Parking Bay</option>
                    <option value="category2">Fault Reporting - Equipment to User</option>
                    <option value="category3">IT Service Support Request - Printng Quota</option>
                    <option value="category4">IT Service Support Request - App/Software Installation</option>
                    <option value="category5">IT Service Support Request - Event Support</option>
                    <option value="category6">IT Service Support Request - Account Activation</option>
                    <option value="category7">IT Service Support Request - Request for Equipment</option>
                    <option value="category8">Facebook Post</option>
                    <option value="category9">Website Update</option>
                </select>
                    
            </div>
            <div class="mb-3">
                <label for="others" class="form-label">Others:</label>
                <input type="text" id="others" name="others" placeholder="Type here..." class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>

    <div class="text-center mt-4">
        <a href="@Url.Action("HomePage", "Home")" style="display: inline-block; margin-top: 20px;">Back to Home</a>
    </div>
</div>
