@{
    ViewData["Title"] = "Privacy";
}
<!--<a asp-controller="Home" asp-action="Index">Home</a>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        <h1>@ViewData["Message"]</h1>
        <a href="@Url.Action("Homepage", "Home")">Back to Home</a>
    </div>
</body>
</html>