@model UserLogin

@{
    ViewData["Title"] = "Login Page";
}
<style>
    h2 {
        font-family: 'Times New Roman';
    }

</style>

<div class="container">
    <div class="text-center mb-5">
        <h2 class="display-4">Welcome! We are here to help you!</h2>
    </div>


    <div class="row justify-content-center align-items-center">

        <!-- Form Column -->
        <div class="col-md-4">
            <h5>Please enter the following details:</h5>

            <form method="post" asp-controller="Account" asp-action="Login">
                <div class="mb-3 form-floating">
                    <input asp-for="Email" class="form-control" placeholder="" />
                    <label asp-for="Email">Email Address</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating">
                    <input asp-for="Password" class="form-control" placeholder="" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-danger">
                    @ViewData["Message"]
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>

        <!-- Image Column -->
        <div class="col-md-5 text-center">
            <img src="~/images/helpdesk.png" class="img-fluid" alt="Helpdesk" />
        </div>
    </div>
</div>
