@model ServiceDesk_Ticketing.Models.UserLogin

@* <form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css" /> <!-- Reference your stylesheet -->
</head>
<div class="row justify-content-center mt-5">
    <h2 class="text-center mb-5">Welcome to Service Desk Ticketing System</h2>
    <!-- Image Column -->
    <div class="col-md-5 text-center">
        <img src="~/images/helpdesk.png" class="img-fluid" alt="Helpdesk" />
    </div>
    <body>
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"><h2>Login</h2></div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="mb-3 form-floating">
                        <input asp-for="Email" class="form-control" placeholder="" />
                        <label asp-for="Email">Email Address</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-floating">
                        <input asp-for="Password" class="form-control" placeholder="" />
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </body>